.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;  /* Adds margin and centers the map */
    max-width: 1200px;  /* Limits the map width for large screens */
    height: 600px;
    padding: 10px;
  }
  
  iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;  /* Adds a border radius to soften the edges */
  }
  