/* Resume Section */
#resume {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 900px; 
    margin: 100px auto 60px; 
    border-radius: 15px;
  }
  
  /* Container to center and size the image */
  .resume{
    text-align: center; 
    margin-top: 20px;
  }
  
  .resume img {
    max-width: 100%; /* Ensures the image fits within its container */
    width: 90%;      /* Set a specific width for the image */
    height: auto;    /* Maintain aspect ratio */
    display: block;
    margin: 0 auto;  /* Center the image */
  }
  
  /* Button section */
  .centered {
    text-align: center;
    margin-top: 20px;
  }
  